<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	<script src="js/jquery-1.9.1.min.js"></script>
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->

	<script>
    $(function() {
        var content="商品名称：红富士苹果<br/>商品编号：3999400346<br/>商品价格：12.8";
        $('.bindingDetail').tooltip({
            content:content,
            container: 'body'
        });
    });
    </script>

		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"><span>Hanshow</span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white warning-sign"></i>
							</a>
							<ul class="dropdown-menu notifications">
								<li class="dropdown-menu-title">
 									<span>您有3条通知</span>
									<a href="#refresh"><i class="icon-repeat"></i></a>
								</li>	
                            	<li>
                                    <a href="#">
										<span class="icon red"><i class="icon-bullhorn"></i></span>
										<span class="message">5个价签更新失败</span>
										<span class="time">1 分钟前</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										<span class="icon yellow"><i class="icon-comment-alt"></i></span>
										<span class="message">7个低电量价签</span>
										<span class="time">16 分钟前</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										<span class="icon yellow"><i class="icon-comment-alt"></i></span>
										<span class="message">8个异常价签</span>
										<span class="time">昨天</span> 
                                    </a>
                                </li>
                                <li class="dropdown-menu-sub-footer">
                            		<a>查看更多</a>
								</li>	
							</ul>
						</li>
						<!-- start: Notifications Dropdown -->
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class=" halflings-icon white flag"></i>
							</a>
							<ul class="dropdown-menu tasks">
								<li class="dropdown-menu-title">
 									<span>您有3个正在进行的任务</span>
									<a href="#refresh"><i class="icon-repeat"></i></a>
								</li>
								<li>
                                    <a href="#">
										<span class="header">
											<span class="title">2015/11/09 15:09:23</span>
											<span class="percent"></span>
										</span>
                                        <div class="taskProgress progressSlim red">10</div> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
										<span class="header">
											<span class="title">2015/11/09 13:09:23</span>
											<span class="percent"></span>
										</span>
                                        <div class="taskProgress progressSlim yellow">77</div> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
										<span class="header">
											<span class="title">2015/11/09 12:09:23</span>
											<span class="percent"></span>
										</span>
                                        <div class="taskProgress progressSlim green">90</div> 
                                    </a>
                                </li>
								<li>
                            		<a class="dropdown-menu-sub-footer">查看更多</a>
								</li>	
							</ul>
						</li>
						<!-- end: Notifications Dropdown -->
						<!-- start: Message Dropdown -->
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white time"></i>
							</a>
							<ul class="dropdown-menu messages">
								<li class="dropdown-menu-title">
 									<span>您有1个计划任务</span>
									<a href="#refresh"><i class="icon-repeat"></i></a>
								</li>	
                            	<li>
                                    <a href="#">
<!--										<span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>-->
										<span class="header">
											<span class="from">
										    	促销活动
										     </span>
											<span class="time">
										    	2015/11/09 12:09:23
										    </span>
										</span>
                                        <span class="message">
                                            设定于 2015/11/11 00:00:00——2015/11/12 00:00:00进行促销变价
                                        </span>  
                                    </a>
                                </li>
								<li>
                            		<a class="dropdown-menu-sub-footer">查看更多</a>
								</li>	
							</ul>
						</li>
						<!-- end: Message Dropdown -->
						
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> Admin
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>账号设置</span>
								</li>
								<li><a href="#"><i class="halflings-icon user"></i> 修改密码</a></li>
								<li><a href="login.html"><i class="halflings-icon off"></i> 退出系统</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>	
                        <li><a href="storeList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 门店管理</span></a></li>
                         <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 商品管理</span></a>
							<ul>
								<li><a class="submenu" href="goodsCategory.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 商品类目</span></a></li>
								<li><a class="submenu" href="goodsList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 商品信息</span></a></li>
								
							</ul>	
						</li>
                        <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 价签管理</span></a>
							<ul>
								<li><a class="submenu" href="eslList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 价签信息</span></a></li>
							</ul>	
						</li>
                        <li><a href="bindingList.html"><i class="icon-envelope"></i><span class="hidden-tablet"> 绑定关系管理</span></a></li>
                        <li><a href="priceUpdate.html"><i class="icon-envelope"></i><span class="hidden-tablet"> 变价管理</span></a></li>
                        <li><a href="statistics.html"><i class="icon-envelope"></i><span class="hidden-tablet"> 统计报表</span></a></li>
                        <li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 系统管理</span></a>
							<ul>
								<li><a class="submenu" href="apList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 基站管理</span></a></li>
								<li><a class="submenu" href="importExport.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 数据导入导出</span></a></li>
								<li><a class="submenu" href="infoPaperList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 信息纸模板管理</span></a></li>
                                <li><a class="submenu" href="eslTemp.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 价签模板管理</span></a></li>
                                <li>
							<a class="dropmenu  submenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> 用户与权限管理</span></a>
							<ul>
								
								<li><a class="submenu" href="deptList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 部门组织结构</span></a></li>
								<li><a class="submenu" href="userList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 用户管理</span></a></li>
								<li><a class="submenu" href="authList.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 权限管理</span></a></li>
							</ul>	
						</li>
								<li><a class="submenu dropmenu" href="#"><i class="icon-file-alt"></i><span class="hidden-tablet"> 系统维护</span></a>
                                    <ul>
                                        <li><a class="submenu" href="databaseCopy.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 数据库备份</span></a></li>
                                        <li><a class="submenu" href="systemUpdate.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> 系统升级</span></a></li>
                                    </ul>
                                </li>
							</ul>	
						</li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span10">
			
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">总部</a> 
					<i class="icon-angle-right"></i>
				</li>
                <li>
					<a href="#">门店No.001</a> 
					<i class="icon-angle-right"></i>
				</li>
                <li>
					<a href="#">价签管理</a> 
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">价签信息</a></li>
			</ul>
<div class="row-fluid">
				
				<div class="span3 statbox red" onTablet="span6" onDesktop="span3">
					<div class="boxchart">5,6,7,2,0,4,2,4,8,2,3,3,2</div>
					<div class="number">8<i class="icon-arrow-up"></i></div>
					<div class="title">价签异常</div>
					<div class="footer">
						<a href="#"> 查看详情</a>
					</div>	
				</div>
				<div class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
					<div class="boxchart">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					<div class="number">10<i class="icon-arrow-up"></i></div>
					<div class="title">刷新失败</div>
					<div class="footer">
						<a href="#"> 查看详情</a>
					</div>
				</div>
				<div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
					<div class="boxchart">5,6,7,2,0,4,8,2,3,3,2</div>
					<div class="number">30<i class="icon-arrow-up"></i></div>
					<div class="title">未绑定价签</div>
					<div class="footer">
						<a href="#"> 查看详情</a>
					</div>
				</div>
			</div>
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon list"></i><span class="break"></span>价签信息</h2>
<!--
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
-->
					</div>
					</div>
				</div>
				<!-- 模态框（Modal） -->
				<div class="modal fade" id="eslModal" tabindex="-1" role="dialog"
					 aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close"
										data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">
									价签绑定
								</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal" role="form">
								<div class="form-group" style="margin-bottom: 20px">
									<label for="goodId" class=" col-sm-2 control-label">商品标示：</label>
									<div class="col-sm-10">
									<input type="text" class="form-control" id="goodId" ng-model="goodId">
									</div>
								</div>
								<div class="form-group" style="margin-bottom: 20px">
									<label  class=" col-sm-2 control-label">价签标示：</label>
									<div class="col-sm-10">
									<input type="text" class="form-control"  ng-model="eslId">
									</div>
								</div>
									<div class="form-group"  style="margin-bottom: 20px" >
										<label for="basestation" class=" col-sm-2 control-label">基站标示：</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="basestation" ng-model="basestation">
										</div>
									</div>
                             </form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
										data-dismiss="modal">取消
								</button>
								<button type="button" class="btn btn-primary">
									 确定
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal -->
				</div>
					<div class="box-content"  ng-app="esllistApp" ng-controller="esllistCtrl" >
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>

                                  <th>序号</th>
                                  <th>门店</th>
								  <th>ID</th> 
								  <th>型号</th>
								  <th>尺寸</th>
								  <th>电量</th>
								  <th>绑定情况</th>
                                  <th>心跳</th>
                                  <th>更新状态</th>
                                  <th>最后通讯时间</th>
<!--                                  <th>操作</th>-->
							  </tr>
						  </thead>   
						 <tbody>
						<tr  ng-repeat="esllist in esllists"   ng-click="editEsllit(esllist.id)" >
							<td>{{$index+1}}</td>
							<td >{{esllist.shop}}</td>
							<td>{{esllist.id}}</td>
							<td class="center">{{esllist.type}}</td>
							<td class="center">{{esllist.size}}</td>
							<td class="center">
								<span class="label label-success">{{esllist.electricity}}</span>
							</td>
							<td class="center" data-toggle="modal"
								data-target="#eslModal">
								<a href="#" data-toggle="tooltip" data-placement="right" title={{esllist.goodname}} >{{esllist.bind}}</a>
							</td>
							<td class="center">{{esllist.heartbeat}}</td>
							<td class="center">
								<span class="label label-success">{{esllist.updemode}}</span>
							</td>
							<td class="center">{{esllist.updatetime}}</td>
							</tr>
							<!--<tr>
                                <td>1</td>
                                <td>No.001</td>
								<td>534567</td>
								<td class="center">Classic 290-N/-C</td></td>
								<td class="center">296px*128px</td>
								<td class="center">
									<span class="label label-success">正常</span>
								</td>
                                <td class="center">
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="商品名称：红富士苹">1</a>
                                </td>
                                <td class="center">1S</td>
                                <td class="center">
									<span class="label label-success">成功</span>
								</td>
                                <td class="center">2012/01/01</td>
								<td class="center">
									<a class="btn btn-success" href="#">
										<i class="halflings-icon white zoom-in"></i>  
									</a>
									<a class="btn btn-info" href="#">
										<i class="halflings-icon white edit"></i>  
									</a>
									<a class="btn btn-danger" href="#">
										<i class="halflings-icon white trash"></i> 
									</a>
								</td>
							</tr>-->
						  </tbody>
					  </table>

				</div><!--/span-->
			</div><!--/row-->
	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://jiji262.github.io/Bootstrap_Metro_Dashboard/" alt="Bootstrap_Metro_Dashboard">Bootstrap Metro Dashboard</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->
		<script src="hs_js/angular.min.js"></script>
		<script src="hs_js/eslList.js"></script>
		<script src="js/jquery-1.9.1.min.js"></script>
	    <script src="js/jquery-migrate-1.0.0.min.js"></script>
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
		<script src="js/jquery.ui.touch-punch.js"></script>
		<script src="js/modernizr.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src='js/fullcalendar.min.js'></script>
		<script src='js/jquery.dataTables.min.js'></script>
		<script src="js/excanvas.js"></script>
	    <script src="js/jquery.flot.js"></script>
	    <script src="js/jquery.flot.pie.js"></script>
	    <script src="js/jquery.flot.stack.js"></script>
	    <script src="js/jquery.flot.resize.min.js"></script>
		<script src="js/jquery.chosen.min.js"></script>
		<script src="js/jquery.uniform.min.js"></script>
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.modified.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>
	
		<script src="js/counter.js"></script>
	
		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>

<script>
</script>
	<!-- end: JavaScript-->
	
</body>
</html>
